@using sb_admin.web.Models
@model List<ChiTietLoi>
@using sb_admin.web.Helper
@foreach (var item in Model)
{
    <div class="w3-row w3-border-bottom">
        <h3>@item.vTenLoi</h3>
        <p>@item.vChiTietLoi</p>
        @Html.Action("HinhLoiPartial", "NhiemVu", new { iMaChiTietLoiCode = item.iMaChiTietLoiCode })
        @if (ViewBag.iMaNguoiDangCode != CurrentContext.GetUser().iMaThanhVienCode)
        {
            <button id="btnTrangThai" class="btnTrangThai w3-button w3-white w3-border w3-border-blue w3-round-large" onclick="btnTrangThaiClick(5,0,@item.iMaChiTietLoiCode)">Sữa lỗi</button>
        }
        else {
            <button onclick="openModal('','#modal-ChinhSuaLoi',@item.iMaChiTietLoiCode)" class="w3-button w3-pale-blue">Chỉnh sửa lỗi</button>
            <button onclick="openModal('','#modal-XoaLoi',@item.iMaChiTietLoiCode)" class="w3-button w3-pale-blue">Xóa lỗi</button>
        }

    </div>
}


<div id="modal-ChinhSuaLoi" class="w3-modal">
    <div class="w3-modal-content w3-animate-right w3-card-4">
        <div class="w3-display-container">
            <form id="frmChinhSuaLoi" method="post" enctype="multipart/form-data">
                <input hidden name="iMaChiTietLoiCode" />
                @Html.AntiForgeryToken()
                <header class="w3-container w3-teal">
                    <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                    <h2 id="title-modal" class="w3-text-white">Chỉnh sửa Module</h2>
                </header>
                <div class="modal-main comfrim">
                    <table class="w3-table-all comfrim" align="center">
                        <thead>
                            <tr>
                                <th width="20%"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                Tên lỗi
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nhập tên nhiệm vụ ở đây..." name="vTenLoi">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hình
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="countErrHinh" hidden value="0" />
                                    <div class="w3-bar bar-hinh" id="danhsachhinh">

                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mô tả
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vChiTietLoi" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <footer id="footer-modal" class="w3-container w3-teal">
                    <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                    <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmChinhSuaLoiSubmit()">Lưu</a>
                </footer>
            </form>
        </div>
    </div>
</div>
<div id="modal-XoaLoi" class="w3-modal">
    <div class="w3-modal-content w3-animate-right w3-card-4">
        <div class="w3-display-container">
            @Html.AntiForgeryToken()
            <header class="w3-container w3-teal">
                <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                <h2 id="title-modal" class="w3-text-white">Xóa Lỗi</h2>
            </header>
            <div class="modal-main comfrim">
                <center><h2>Bạn có chắc chắn muốn xóa lỗi <span id="vTenLoi" class="w3-text-blue"></span> ?</h2></center>
            </div>
            <footer id="footer-modal" class="w3-container w3-teal">
                <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmXoaLoiSubmit()">Xóa</a>
            </footer>
        </div>
    </div>
</div>

